Package*.last-run
Package*.ca-list
Package*.ca-bundle
Package*.system-ca-bundle
Package*.merged-ca-bundle
Package*.user-ca-bundle
oscrypto*.crt
Package*.cache/
Package*.ca-certs/
FileHistory_*.json
FileHistory.json
ChangeList.json
memTask.json
sublemacspro_isearch_history.sublime-settings
*isearch_history*
*.json*
*.json
*.history
